
@model CQRS.CQRSPattern.Results.GetProductUpdateQueryResult

<div class="container">
<form method="post">
    <label asp-for="ID">ID</label>
    <input type="text" asp-for="ID"class="form-control">
    <br>
    <label asp-for="ProductName">Product Name</label>
    <input type="text" asp-for="ProductName" class="form-control">
    <br>
    <label asp-for="Stock">Product Stock</label>
    <input type="text" asp-for="Stock"class="form-control">
    <br>
    <label asp-for="Price">Product Price</label>
    <input type="text" asp-for="Price"class="form-control">
    <br>
     <label asp-for="Description">Product Price</label>
    <input type="text" asp-for="Description"class="form-control">
    <br>
    <button class="btn btn-danger"> Update Product </button>
</form>

</div>